.SobreContainer p {
  line-height: 1.6;
  margin-bottom: 1rem;
  font-family: sans-serif;
  color: #333;
}

.SobreContainer strong {
  font-family: sans-serif;
}

.SobreContainer ul {
  list-style-position: inside;
  padding-left: 0;
}

.SobreContainer li {
  margin-top: 0.5rem;
  font-family: sans-serif;
}